//---------------------------------------------------------------
// Mixin
//---------------------------------------------------------------
@mixin base($border-width) {
  width: $default-width;
  margin: $default-margin-top $default-margin-right $default-margin-left $default-margin-bottom;
  border-width: $border-width;
  border-style: dashed;
  padding: $default-padding;
}
@mixin base_sub($sub_position, $top, $left, $qc-font) {
  position: $sub_position;
  top: $top;
  left: $left;
  font-family: $qc-font;
}

@mixin color-select($select-color){
    background: $select-color;
}