// Typography

// default font
$root-font-size: 10px;
$rem-font-size: 1.6rem;

$max-rem-size: 2.6rem;
$min-rem-size: 0.6rem;

// 글꼴

// 웹폰트
$def-font: 'Nanum Gothic', sans-serif;
$np-font: 'Nanum Pen Script', cursive;